@import './src/common/styles/sass/variables';
//.skillBlock {
//  width: 250px;
//  background-color: #FDFFFE;
//
//  display: flex;
//  flex-direction: column;
//
//  align-items: center;
//  text-align: center;
//
//  padding: 20px;
//  margin: 20px 0;
//}
//
//.skillTitle {
//  margin-bottom: 10px;
//}
//
//.icon {
//  width: 60px;
//  height: 60px;
//  background-color: #C4C4C4;
//
//  margin-bottom: 20px;
//}

.skillWrapper {
  width: 48%;
  margin-bottom: 25px;

  .skillTitle{
    display: flex;
    justify-content: space-between;

    color: $textSecondColor;
    font-size: 20px;
  }

  .progressBlock {
    height: 10px;
    border-radius: 5px;

    position: relative;

    background: $bgAsideColor;
  }

  .progress {
    height: 10px;

    border-radius: 5px 0 0 5px;

    background: $themeColor;
  }
}
