.form {
    width: 350px;
    border: 1px solid;

    display: flex;
    flex-direction: column;
}

.input {
    padding: 8px;
    margin-bottom: 20px;
}

.textarea {
    padding: 8px;
    resize: none;
    min-height: 120px;
}

@media screen and (max-width: 450px){
    .form {
        width: 100%;
    }
}