@import "./src/common/styles/sass/variables";

.mainBlock {
    min-height: 100vh;
    background: $bgSecondColor;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    min-height: 100%;

    text-align: center;
}

.title{
  color: $textColor;
  span {
    font-size: 28px;
  }
  h1 {
    font-size: 40px;
    margin: 20px 0;
  }
  p {
    font-size: 28px;
  }
}

@media screen and (max-width: 752px){
    .mainBlock {
        min-height: 100vh;
    }

    .title {
        margin-bottom: 20px;
        width: 300px;
    }

}