@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background: rgba(33, 37, 41, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  @include container();
  min-height: 100%;

  text-align: center;
}

.title {
  color: $textColor;

  span {
    font-size: 32px;

    &:nth-child(2) {
      font-size: 34px;
    }
  }

  h1 {
    font-size: 40px;
    margin: 20px 0;
  }

  p {
    font-size: 28px;
  }

}

@media screen and (max-width: 752px) {
  .mainBlock {
    min-height: 100vh;
  }

  .mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin-bottom: 20px;
    width: 100%;
  }

}