@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.mainBlock {
  min-height: 100vh;
  background: rgba(33,37,41, .7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  @include container();
  min-height: 100%;

  text-align: center;
}

.title {
  color: $textColor;

  span {
    font-size: 28px;
  }

  h1 {
    font-size: 40px;
    margin: 20px 0;
  }

  p {
    font-size: 28px;
  }
}

@media screen and (max-width: 752px) {
  .mainBlock {
    margin-top: 70px;
    min-height: calc(100vh - 70px);

  }

  .title {
    margin-bottom: 20px;
    width: 100%;
  }

}