.mainBlock {
    height: 100vh;
    background: #FFDEE9;

}

.mainContainer {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.title{
    width: 300px;
    background-color: #D8D8D8;
}

.photo {
    width: 300px;
    height: 400px;

    background-color: #D8D8D8;
}

@media screen and (max-width: 752px){
    .mainContainer {
        justify-content: center;
    }
}