@import './src/common/styles/sass/variables';

.footer {
    background: $bgThirdColor;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    min-height: 300px;
}

.title {
  color: $textColor;
}

.copyright {
    background: #C4C4C4;
}

.socialsBlock {
    display: flex;
    justify-content: space-between;
    width: 350px;
}

@media screen and (max-width: 450px){
    .socialsBlock {
        width: 95%;
    }
}