@import './src/common/styles/sass/variables';
@import './src/common/styles/sass/mixins';

.photoContainer {
  margin-bottom: 25px;
  text-align: center;

  .photo {
    width: 176px;
    height: 176px;
    border-radius: 50%;

    border: 5px solid $bgSecondColor;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .title {
    color: $textColor;

    margin-top: 30px;
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: $mediumScreen){
  .photoContainer {
    width: 100%;
    background: $bgAsideColor;
    z-index: 10;

    .photo {
      display: none;
    }

    .title {
      text-align: center;
    }

    a {
    }

  }
}