@import './src/common/styles/sass/variables.scss';

.nav {
  margin-top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: $bgAsideColor;

  transition: top .3s ease;

  .link {
    margin-bottom: 30px;
    cursor: pointer;

    color: $textColor;
    font-size: 20px;

    transition: all .2s ease;

    &:hover {
      color: $themeColor;
    }
  }

  .activeLink {
    color: $themeColor;
  }
}

@media screen and (max-width: $mediumScreen){
  .nav {
    margin-top: 15px;
    padding: 10px 0;

    width: 100%;

    border-top: 2px solid $themeColor;

    position: absolute;
    top: -250px;

    a {
      margin: 15px 0 30px 0;
    }
  }
}