@import "./src/common/styles/sass/mixins";
@import "./src/common/styles/sass/variables";

.contactsBlock {
  background: #FFE2E2;
}

.contacts {
  @include container();
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  background: #D8D8D8;
}

@media screen and(max-width: $mediumScreen) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}