@import "./src/common/styles/sass/mixins";

.contactsBlock {
  background: #FFE2E2;
}

.contacts {
  @include container();
  min-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  background: #D8D8D8;
}

.btnForm {
  @include btn();

  margin-top: 30px;
}